<header id="site-header">
  <div class="container">
      <h1>Shopping cart</h1>
  </div>
</header>

<div class="container">

  <section id="cart"> 
    <div  *ngFor="let orderBook of orderBooks">
      <article class="product" *ngIf="orderBook.quantity > 0">
        <header (click)="remove(orderBook)">
            <a class="remove" >
                <img src={{orderBook.book.photoUrl}} alt="">

                <h3>Remove product</h3>
            </a>
        </header>

        <div class="content">

            <h2>{{orderBook.book.title}}</h2>
            <h3>{{orderBook.book.author}}</h3>
           
        </div>

        <footer class="content">
            <span class="qt-minus" (click)="minusQty(orderBook)">-</span>
            <span class="qt">{{orderBook.quantity}}</span>
            <span class="qt-plus" (click)="addQty(orderBook)">+</span>

            <h2 class="full-price">
                {{orderBook.book.price * orderBook.quantity | number:'1.0-2'}} PLN
            </h2>

            <h2 class="price">
                {{orderBook.book.price}} PLN
            </h2>
        </footer>
    </article>
    </div>
     

     
  </section>

</div>

<footer id="site-footer">
  <div class="container clearfix">

      <div class="left">
          <h2 class="subtotal">Subtotal: {{subtotal | number:'1.0-2'}} PLN</h2>
          <h3 class="tax">Taxes ({{taxes | number:'1.0-2'}}%): {{taxesMoney | number:'1.0-2'}} PLN</h3>
          <h3 class="shipping">Shipping: {{shipping}}</h3>
      </div>

      <div class="right">
          <h1 class="total">Total: {{total | number:'1.0-2'}} PLN</h1>
          <button type="button" class="btn btn-primary btn-block" (click)="order()">Go to summary</button>
      </div>

  </div>
</footer>