<div class="row mt-5">
  <div class="col mt-2 mb-2 ">
    <div>
      <img src={{book?.photoUrl}} alt="C" class="image img-responsive" (click)="openModal(template)">
    </div>
    <ng-template #template>
      
        <img src={{book?.photoUrl}} alt="C" class="image-modal">
    </ng-template>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-10"><h2>{{book?.title}} </h2></div>
      <div class="col-2"><i class="fa fa-star  mr-3 ml-3 icon"
        [ngClass]="{
          'gold-star': book?.favourite,
          'black-star': book?.favourite
        }"
        (click)="addToFavourite(book?.id)" id="star" style="font-size:28px;"></i></div>
    </div>
   
   <h5 class="mb-2">{{book?.author}} </h5>
   <div class="mt-5">
    <p>Publisher: {{book?.publisher}}</p>
    <p>Language: {{book?.language}}</p>
    <p>Publishing date: {{book?.publishingDate | date:'shortDate'}}</p>
    <p>Stock: {{book?.stock}}</p>
   </div>
   
  </div>
  <div class="col">
    <div class="card border-light mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h1 class="card-title" *ngIf="book.onSale === false">{{book?.price | number:'1.0-2'}} PLN</h1>
        <h1 class="card-title" *ngIf="book.onSale ==! false"><s>{{book?.price | number:'1.0-2'}}</s> {{book?.salePrice | number:'1.0-2'}} PLN</h1>
        <button type="button" class="btn btn-primary btn-block" (click)="openModal(cardTemplate)" [disabled]="book.stock == 0">Add to card</button>
        <div class="alert alert-dismissible alert-danger mt-3" *ngIf="book.stock == 0">
          <strong>Oh no!</strong> It seems this book is not available now.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="ml-3">
    <h2>{{book?.title}} - description</h2>
  </div>
  
</div>
<div class="row mt-3">
  <div class="ml-3">
    <p>{{book?.description}}</p>
  </div>
</div>
<div class="row mt-3">
  <div class="ml-3">
    <h2>Bestsellers</h2>
    <div class="container best mb-5">
      <div class="row">
        <div class="card card-book bg-secondary mb-3 card-hover ml-4 mt-3 mr-2"  *ngFor="let book of books">
          <div class="row">
            <div class="col-10">
              <h5 class="card-title mt-2 ml-5 mb-1">{{book.title}} </h5>
            </div>
            <div class="col-2">
            </div>
          </div>
          
          
          <div (click)="goToDetail(book.id)">
            
            <h6 class="card-title mb-1 ml-5">{{book.author}}</h6>
            <div class="card-body">
            <img src={{book.photoUrl}} alt="C" class="image-card">
          </div>
          </div>
          
        </div>
      </div>
       
     
    </div>
  </div>
  
</div>

<ng-template #cardTemplate>
    <div class="card-body">
      <h4 class="card-title">book? "{{book?.title}} added to shopping card!</h4>
      <p class="card-text">Do you want to continue shopping, or go directly to shopping card?</p>
      <div class="row">
        <button type="button" class="btn btn-primary mr-3 ml-5" (click)="modalRef.hide()" (click)="return()">Continue shopping</button>
        <button type="button" class="btn btn-success" (click)="goShoppingCard()" (click)="modalRef.hide()">Go to shopping card</button>
      </div>
     
    </div>
</ng-template>